!!!5
%html
  %head
    slinky_scripts
    slinky_styles
    %title HN Hiring

  %body
    #header
      who is hiring?
      .filter
        %input{:type => :search, :name => "filter", :placeholder => "reg exp filter"} 
    #main
      #sidebar
        %ul
      #content
        %ul


    #plug
      looking for a developer in NY? Check out
      %a{:href => "http://micahw.com"} my portfolio.